/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

<meta name="viewport" content="width=device-width, initial-scale=1">

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*desktop*/


.text-block-holder, .nav-holder {
    text-align: center;
    width: 100%;
    margin: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-text-block {
    width: 24%;
    text-align: left;
}


.small-text-block {
    width: 15%;
    margin: 10px;
    text-align: left;
}


.middle-img {
    display: block;
    width: 100%
    margin: 0px auto;
}


nav {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

a, .logo {
    color: gray;
    text-decoration: none;
}


header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-left {
    flex-direction: column;
}

h1 {
    font-size: 65px;
}


button {
    font-size: 18px;
    padding: 5px 37px 5px 37px;
    margin: 0 auto;
    border: 2px solid black;
    text-decoration: none;
    align-self: flex-start;
    background-color: transparent;
}

.nav-line {
    display: none;
    border: 1px solid black;
    width: 48%
}

.cross-line {
    border: 1px solid black;
    width: 48%
}


h2 {
    font-size: 15px;
}



footer {
    text-align: center;
}

/* Tablet */
@media( max-width: 800px ) {
    #code-snippet {
        display: none;
    }

    .nav-holder {
        text-align: center;
        width: 100%;
        margin: 30px 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .middle-img {
        width: 100%;
    }

    .big-text-block {
        width: 50%;
        text-align: left;
    }

    .small-text-block {
        width: 33%;
        margin: 10px;
        text-align: left;
    }

    .cross-line {
        border: 1px solid black;
        width: 100%
    }

}

/* Mobile */
@media( max-width: 500px ) {
    #code-snippet {
        display: none;
    }

    .nav-holder {
        text-align: center;
        width: 100%;
        margin: 30px 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    nav {
        flex-direction: column;
        width: 100%
    }

    .text-block-holder{
        flex-direction: column;
    }

    .big-text-block {
        width: 100%;
        text-align: left;
    }

    .small-text-block {
        width: 100%;
        margin: 10px;
        text-align: left;
    }

    .nav-line {
        display: block;
        border: .5px solid gray;
        width: 100%
    }

}

